#section-home {
    position: relative;
    width: 100%;
    height: 660px;
    background-image: url("../_img/bg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#section-home .box h1 {
    color: var(--white);
    font-size: 45px;
    text-align: center;
}

#section-home .box h2 {
    color: var(--white);
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0px 40px 0px;
}

#section-home .box a {
    padding: 12px 25px;
    font-size: 14px;
    color: var(--white);
    text-transform: uppercase;
    border: solid 1px var(--white);
}

#section-about {
    position: relative;
    width: 100%;
    padding: 80px 0px;
    box-sizing: border-box;
    background-color: var(--white);
}

#section-about h2 {
    font-size: 35px;
    margin-bottom: 16px;
    color: var(--black);
}

#section-about p {
    width: 70%;
    font-size: 18px;
    text-align: center;
    color: var(--black);
}

#section-pastors {
    width: 100%;
    height: 450px;
    padding: 20px;
    background-color: var(--black);
    background-image: url("../_img/bg-black.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

#section-pastors #about {
    width: 50%;
    margin-right: 40px;
}

#section-pastors #about h2 {
    font-size: 35px;
    color: var(--white);
}

#section-pastors #about p {
    color: var(--white);
    font-size: 16px;
    margin: 14px 0px 30px 0px;
}

#section-pastors #about a {
    padding: 12px 25px;
    font-size: 14px;
    color: var(--white);
    text-transform: uppercase;
    border: solid 1px var(--white);
}

#section-pastors #box-image {
    position: relative;
    width: 400px;
}

#section-pastors #box-image img {
    position: absolute;
    width: 500px;
    height: 551px;
}

#section-schedule {
    width: 100%;
    height: 500px;
    background-image: url("../_img/bg-yellow.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#section-schedule h2 {
    font-size: 35px;
    color: var(--white);
    text-align: center;
    margin-bottom: 50px;
}

@keyframes colorAnimation {
    0%   { 
        filter: grayscale(100%);
    }
    100% { 
        filter: grayscale(0%);
    }
 }

#section-schedule .image {
    width: 300px;
    transform: rotate(-5deg);
    filter: grayscale(100%);
}

#section-schedule .image:hover {
    filter: grayscale(0%);
    animation: colorAnimation 2s ease;
}

#section-schedule .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    width: 45%;
}

#section-schedule .box h3 {
    color: var(--black);
    font-size: 24px;
}

#section-schedule .box p {
    font-size: 18px;
    color: var(--white);
    margin: 8px 0px 30px 0px;
}

#section-projects {
    width: 100%;
    height: 500px;
    background-image: url("../_img/bg-templo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#section-projects h2 {
    font-size: 35px;
    color: var(--white);
    text-align: center;
    margin-bottom: 80px;
}

#section-projects .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 230px;
    padding: 50px 15px 15px 15px;
    margin: 0px 50px;
    border-radius: 25px;
    background-color: var(--white);
    box-sizing: border-box;
}

#section-projects .card img {
    position: absolute;
    width: 180px;
    top: -56px;
}

#section-projects .card h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

#section-projects .card p {
    text-align: justify;
    font-size: 12px;
}

#section-projects .card a {
    padding: 8px 15px;
    font-size: 12px;
    color: var(--black);
    text-transform: uppercase;
    border: solid 1px var(--black);
}

#section-donation {
    width: 100%;
    height: 500px;
}

#section-donation h2 {
    font-size: 35px;
    color: var(--black);
    text-align: center;
}