#section-about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 20px 100px 20px;
    box-sizing: border-box;
    background-color: var(--white);
}

#section-about h2 {
    font-size: 35px;
    margin-bottom: 16px;
    color: var(--black);
}

#section-about p {
    width: 70%;
    font-size: 18px;
    text-align: center;
    color: var(--black);
}