#section-donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 20px 100px 20px;
    box-sizing: border-box;
}

#section-donation img {
    width: 100px;
}

#section-donation h2 {
    font-size: 40px;
    color: var(--black);
    text-align: center;
    margin: 10px;
}

#section-donation h3 {
    font-size: 18px;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
}

#section-donation p {
    width: 60%;
    font-size: 16px;
    color: var(--black);
    text-align: center;
    margin: 20px;
}

#section-donation a {
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black);
    font-weight: bold;
    border: solid 2px var(--black);
}


@media (max-width: 600px) 
{
    #section-donation h2 {
        font-size: 30px;
    }
    
    #section-donation h3 {
        font-size: 15px;
    }

    #section-donation p {
        width: 90%;
    }

    #section-donation a {
        padding: 10px 15px;
        font-size: 12px;
    }
}